body {
    font-family: 'Roboto', sans-serif;
}

.card-title {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #28a745 !important;
}


.col-4 {
    color: #28A745;
}

.container-fluid {
    background-color: #28A745;
}
